*
{
  font-size: 5vw;
}
.rotate-left
{
  margin: auto;
  transform: rotate(90deg);
}
.rotate-right{
  margin: auto;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.properties
{
  border-radius: 17px;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  cursor: pointer;
}
.score p
{
  color:black;
  font-size: 9vw !important;
  margin: auto;
}
html {
  /* Rotate the content container */
  transform: rotate(-90deg);
  transform-origin: left top;
  /* Set content width to viewport height */
  width: 100vh;
  /* Set content height to viewport width */
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}

.history-sidebar {
  background: #f8f9fa;
  color: #333;
  padding: 26px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20vh;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: 43vh;
    height: 97vh;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.history-sidebar2 {
  background: #f8f9fa;
  color: #333;
  padding: 26px;
  overflow-y: auto;
  position: absolute;
  /*top: 20vh;
  */right: 0;
  bottom: 0;
  left: 36vw;
  transform: rotate(270deg);
  transform-origin: bottom left;
  width: 43vh;
  height: 97vh;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}