*
{
  font-size: 1.6vw;
}
.rotate-left
{
  transform: rotate(90deg);
}
.rotate-right{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.properties
{
  border-radius: 17px;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  cursor: pointer;
}
.score p
{
  color:black;
  font-size: 5vw !important;
}